<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="emp" class="com.autowire.Emp">
          <property name="address" ref="address"/>
        </bean>

    <bean id="address" class="com.autowire.Address">
       <property name="city" value="nellore"/>
      <property name="state" value="AndhraPradesh"/>
    </bean>   -->

    <bean id="emp" class="xmlconfig.autowire.Emp" autowire="byName"/>

    <bean id="address" class="xmlconfig.autowire.Address">
        <property name="city" value="nellore"/>
        <property name="state" value="AndhraPradesh"/>
    </bean>

</beans>